parameters:
    # level: 11 # Uncomment when level 11 is available
    level: 10 # Remove this line when level 11 is available
    paths:
        - app
    # Swoole constants & classes sometimes need a boost
    scanDirectories:
        - vendor
    # We ignore some Swoole-specific magic if necessary
    ignoreErrors:
        # Example: - '#Property .* has no typehint specified.#'

